#cloud-config
hostname: ${hostname}
create_hostname_file: true

groups:
  - ${username}

users:
  - name: ${username}
    primary_group: ${username}
    ssh_import_id:
      - ${ssh-key}
    lock_passwd: true
    sudo: ALL=(ALL) NOPASSWD:ALL
    shell: /bin/bash

package_reboot_if_required: true
package_update: true
package_upgrade: true

%{~ if length(apt-packages) != 0 }
packages:
  - apt:
    %{~ for package in apt-packages ~}
    - ${package}
    %{~ endfor }
%{ endif }
